{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
            <tr>
                <th>Program</th>
                <td>{{ programTitle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('program_show', { 'slug': slug }) }}">back to Program {{ programTitle }} </a><br>

    <a href="{{ path('season_edit', { 'number': season.number, 'slug': slug }) }}">edit</a><br>

    <a href="{{ path('episode_index', { 'number': season.number, 'slug': slug }) }}">see episodes</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
