{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
        </tbody>
    </table>

    <strong>Acteur :</strong>
    <ul>
        {% for actor in program.actors %}
            <li><a href="{{ path('actor_show', { 'sluga': actor.sluga }) }}">{{ actor.name }}</a></li>
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
        {% for season in program.seasons %}
            <h4>Saison <a href="{{ path('season_show', { 'slug' : program.slug, 'number' : season.number, 'programTitle' : program.title }) }}">{{ season.number }}</a></h4>
        {% endfor %}
{#      dans path season ?  'seasonNb' : season.number#}
    </ul>

    <a href="{{ path('season_new', { 'slug' : program.slug }) }}">Add a season</a><br>

    <a href="{{ path('program_index') }}">back to list</a><br>

    <a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a><br>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
