{# templates/wild/category.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ categoryName }}{% endblock %}

{% block body %}

{#
    <h1>3 dernières séries dans la catégorie : {{ categoryName }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
#}



{% endblock %}

{# commentaires ci-dessous pour garder une trace de la quete 5
--------------------------------------------------------------
{% extends 'base.html.twig' %}
{% block title %}{{ nomSerie }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h1> {{ nomSerie }} </h1>
    <br>
    #}{#<a href="{{ path('wild_show', {'page':5}) }}">Afficher la page 5</a>#}{#
{% endblock %}
{% block javascripts %}{% endblock %}#}
